## MacOS
.DS_Store

## node_modules
node_modules
.pnpm-store

## lock
yarn.lock
package-lock.json

## build
_data
_site
dist
results
static_site
lib
packages/mcp-server/docs

## test
coverage
packages/mcp-server/scripts/dom/snapshots/**/__snapshots__