:root[theme-mode="dark"] {
    --td-brand-color-1: #001b92;
    --td-brand-color-2: #0935ad;
    --td-brand-color-3: #134fc8;
    --td-brand-color-4: #1c6ae4;
    --td-brand-color-5: #2684ff;
    --td-brand-color-6: #4a99ff;
    --td-brand-color-7: #6eadff;
    --td-brand-color-8: #92c2ff;
    --td-brand-color-9: #b7d6ff;
    --td-brand-color-10: #dbebff;
    --td-warning-color-1: #723b16;
    --td-warning-color-2: #8c581e;
    --td-warning-color-3: #a67426;
    --td-warning-color-4: #bf912e;
    --td-warning-color-5: #d9ae36;
    --td-warning-color-6: #dfbc57;
    --td-warning-color-7: #e6c979;
    --td-warning-color-8: #ecd79a;
    --td-warning-color-9: #f2e4bc;
    --td-warning-color-10: #f9f2de;
    --td-error-color-1: #5d1d34;
    --td-error-color-2: #742536;
    --td-error-color-3: #8c2c39;
    --td-error-color-4: #a3333b;
    --td-error-color-5: #bb3b3d;
    --td-error-color-6: #c65c5d;
    --td-error-color-7: #d27c7e;
    --td-error-color-8: #dd9d9e;
    --td-error-color-9: #e8bebe;
    --td-error-color-10: #f4dedf;
    --td-success-color-1: #064e3a;
    --td-success-color-2: #07623f;
    --td-success-color-3: #097545;
    --td-success-color-4: #0a894a;
    --td-success-color-5: #0c9d4f;
    --td-success-color-6: #34ad6c;
    --td-success-color-7: #5dbe8a;
    --td-success-color-8: #85cea7;
    --td-success-color-9: #aedec4;
    --td-success-color-10: #d7efe2;
    --td-gray-color-1: #f3f4f7;
    --td-gray-color-2: #e7eaef;
    --td-gray-color-3: #cfd5de;
    --td-gray-color-4: #b7c1ce;
    --td-gray-color-5: #9eacbe;
    --td-gray-color-6: #8697ad;
    --td-gray-color-7: #6e829d;
    --td-gray-color-8: #60708a;
    --td-gray-color-9: #425472;
    --td-gray-color-10: #344158;
    --td-gray-color-11: #262f3e;
    --td-gray-color-12: #1e222d;
    --td-gray-color-13: #151822;
    --td-gray-color-14: #090a0f;
    --td-font-white-1: rgba(255, 255, 255, .9);
    --td-font-white-2: rgba(255, 255, 255, .55);
    --td-font-white-3: rgba(255, 255, 255, .35);
    --td-font-white-4: rgba(255, 255, 255, .22);
    --td-font-gray-1: rgba(0, 0, 0, .9);
    --td-font-gray-2: rgba(0, 0, 0, .6);
    --td-font-gray-3: rgba(0, 0, 0, .4);
    --td-font-gray-4: rgba(0, 0, 0, .26);
    --td-brand-color: var(--td-brand-color-5);
    --td-warning-color: var(--td-warning-color-5);
    --td-error-color: var(--td-error-color-6);
    --td-success-color: var(--td-success-color-6);
    --td-brand-color-hover: var(--td-brand-color-4);
    --td-brand-color-focus: var(--td-brand-color-2);
    --td-brand-color-active: var(--td-brand-color-6);
    --td-brand-color-disabled: var(--td-brand-color-3);
    --td-brand-color-light: var(--td-brand-color-1);
    --td-brand-color-light-hover: var(--td-brand-color-2);
    --td-warning-color-hover: var(--td-warning-color-4);
    --td-warning-color-focus: var(--td-warning-color-2);
    --td-warning-color-active: var(--td-warning-color-6);
    --td-warning-color-disabled: var(--td-warning-color-3);
    --td-warning-color-light: var(--td-warning-color-1);
    --td-warning-color-light-hover: var(--td-warning-color-2);
    --td-error-color-hover: var(--td-error-color-5);
    --td-error-color-focus: var(--td-error-color-2);
    --td-error-color-active: var(--td-error-color-7);
    --td-error-color-disabled: var(--td-error-color-3);
    --td-error-color-light: var(--td-error-color-1);
    --td-error-color-light-hover: var(--td-error-color-2);
    --td-success-color-hover: var(--td-success-color-5);
    --td-success-color-focus: var(--td-success-color-2);
    --td-success-color-active: var(--td-success-color-7);
    --td-success-color-disabled: var(--td-success-color-3);
    --td-success-color-light: var(--td-success-color-1);
    --td-success-color-light-hover: var(--td-success-color-2);
    --td-mask-active: rgba(0, 0, 0, .4);
    --td-mask-disabled: rgba(0, 0, 0, .6);
    --td-bg-color-page: var(--td-gray-color-14);
    --td-bg-color-container: var(--td-gray-color-13);
    --td-bg-color-container-hover: var(--td-gray-color-12);
    --td-bg-color-container-active: var(--td-gray-color-10);
    --td-bg-color-container-select: var(--td-gray-color-9);
    --td-bg-color-secondarycontainer: var(--td-gray-color-12);
    --td-bg-color-secondarycontainer-hover: var(--td-gray-color-11);
    --td-bg-color-secondarycontainer-active: var(--td-gray-color-9);
    --td-bg-color-component: var(--td-gray-color-11);
    --td-bg-color-component-hover: var(--td-gray-color-10);
    --td-bg-color-component-active: var(--td-gray-color-9);
    --td-bg-color-secondarycomponent: var(--td-gray-color-10);
    --td-bg-color-secondarycomponent-hover: var(--td-gray-color-9);
    --td-bg-color-secondarycomponent-active: var(--td-gray-color-8);
    --td-bg-color-component-disabled: var(--td-gray-color-12);
    --td-bg-color-specialcomponent: transparent;
    --td-text-color-primary: var(--td-font-white-1);
    --td-text-color-secondary: var(--td-font-white-2);
    --td-text-color-placeholder: var(--td-font-white-3);
    --td-text-color-disabled: var(--td-font-white-4);
    --td-text-color-anti: #fff;
    --td-text-color-brand: var(--td-brand-color-5);
    --td-text-color-link: var(--td-brand-color-5);
    --td-border-level-1-color: var(--td-gray-color-11);
    --td-component-stroke: var(--td-gray-color-11);
    --td-border-level-2-color: var(--td-gray-color-10);
    --td-component-border: var(--td-gray-color-10);
    --td-shadow-1: 0 4px 6px rgba(0, 0, 0, .06), 0 1px 10px rgba(0, 0, 0, .08), 0 2px 4px rgba(0, 0, 0, .12);
    --td-shadow-2: 0 8px 10px rgba(0, 0, 0, .12), 0 3px 14px rgba(0, 0, 0, .1), 0 5px 5px rgba(0, 0, 0, .16);
    --td-shadow-3: 0 16px 24px rgba(0, 0, 0, .14), 0 6px 30px rgba(0, 0, 0, .12), 0 8px 10px rgba(0, 0, 0, .2);
    --td-shadow-inset-top: inset 0 0.5px 0 #e7eaef;
    --td-shadow-inset-right: inset 0.5px 0 0 #e7eaef;
    --td-shadow-inset-bottom: inset 0 -0.5px 0 #e7eaef;
    --td-table-shadow-color: rgba(0, 0, 0, .55);
    --td-scrollbar-color: rgba(255, 255, 255, .1);
    --td-scrollbar-hover-color: rgba(255, 255, 255, .3);
    --td-scroll-track-color: #333;
}