{
  "env": {
    "browser": true,
    "es2021": true,
    "vue/setup-compiler-macros": true
  },
  "extends": ["plugin:vue/vue3-essential", "standard", "prettier"],
  "parserOptions": {
    "ecmaVersion": "latest",
    "parser": "@typescript-eslint/parser",
    "sourceType": "module"
  },
  "globals": {
    "aegis": "readonly",
    "NProgress": "readonly"
  },
  "plugins": ["vue", "@typescript-eslint"],
  "rules": {
    "indent": ["error", 2],
    "vue/multi-word-component-names": 0,
    "vue/no-deprecated-slot-attribute": 0
  }
}
