{
  "env": {
    "browser": true,
    "es2021": true
  },
  "extends": ["plugin:vue/essential", "standard","prettier"],
  "parserOptions": {
    "ecmaVersion": "latest",
    "parser": "@typescript-eslint/parser",
    "sourceType": "module"
  },
  "globals": {
    "aegis": "readonly",
    "NProgress": "readonly"
  },
  "plugins": ["vue", "@typescript-eslint"],
  "rules": {
    "indent": ["error", 2],
    "vue/multi-word-component-names": 0
  }
}
