node_modules
.vscode
.DS_Store
.vscode
Dockerfile
dist
_site
package
tmp*
temp*
coverage
test-report.html
.idea/
yarn.lock
pnpm-lock.yaml
*.zip
.history
script/test/cypress/screenshots
script/test/cypress/videos
script/test/cypress/results
script/test/cypress/support
results/
_data
static_site
