:root[theme-mode="dark"] {

  code[class*="language-"],
  pre[class*="language-"] {
    text-align: left;
    white-space: pre;
    word-spacing: normal;
    word-break: normal;
    word-wrap: normal;
    font-family: ui-monospace,SFMono-Regular,SF Mono,Menlo,Consolas,Liberation Mono,monospace;
    font-size: 1em;
    line-height: 1.5em;
    tab-size: 4;
    hyphens: none;
  }
  
  code[class*="language-"]::selection,
  pre[class*="language-"]::selection,
  code[class*="language-"] ::selection,
  pre[class*="language-"] ::selection {
    background: #d6dbe3;
    color: #263238;
  }
  
  :not(pre)>code[class*="language-"] {
    white-space: normal;
    border-radius: .2em;
    padding: .1em;
  }
  
  pre[class*="language-"] {
    overflow: auto;
    position: relative;
  }
  
  .language-css>code,
  .language-sass>code,
  .language-scss>code {
    color: #f2995f;
  }
  
  [class*="language-"] .namespace {
    opacity: .7;
  }
  
  .token.atrule {
    color: #ae78f0;
  }
  
  .token.attr-name {
    color: #3280ff;
  }
  
  .token.attr-value {
    color: #fbca25;
  }
  
  .token.attribute {
    color: #fbca25;
  }
  
  .token.boolean {
    color: #ae78f0;
  }
  
  .token.builtin {
    color: #3280ff;
  }
  
  .token.cdata {
    color: #3280ff;
  }
  
  .token.char {
    color: #3280ff;
  }
  
  .token.class {
    color: #3280ff;
  }
  
  .token.class-name {
    color: #5cc5fc;
  }
  
  .token.comment {
    color: #97a3b7;
  }
  
  .token.constant {
    color: #ae78f0;
  }
  
  .token.deleted {
    color: #48c79c;
  }
  
  .token.doctype {
    color: #97a3b7;
  }
  
  .token.entity {
    color: #48c79c;
  }
  
  .token.function {
    color: #ae78f0;
  }
  
  .token.hexcode {
    color: #f2995f;
  }
  
  .token.id {
    color: #ae78f0;
    font-weight: bold;
  }
  
  .token.important {
    color: #f6c;
    font-weight: bold;
  }
  
  .token.inserted {
    color: #3280ff;
  }
  
  .token.keyword {
    color: #f6c;
  }
  
  .token.number {
    color: #f2995f;
  }
  
  .token.operator {
    color: #3280ff;
  }
  
  .token.prolog {
    color: #97a3b7;
  }
  
  .token.property {
    color: #3280ff;
  }
  
  .token.pseudo-class {
    color: #fbca25;
  }
  
  .token.pseudo-element {
    color: #fbca25;
  }
  
  .token.punctuation {
    color: #3280ff;
  }
  
  .token.regex {
    color: #5cc5fc;
  }
  
  .token.selector {
    color: #f36d78;
  }
  
  .token.string {
    color: #fbca25;
  }
  
  .token.symbol {
    color: #f6c;
  }
  
  .token.tag {
    color: #48c79c;
  }
  
  .token.unit {
    color: #f2995f;
  }
  
  .token.url {
    color: #48c79c;
  }
  
  .token.variable {
    color: #48c79c;
  }
}
