:root {
    --td-shadow-inset-top: inset 0 .5px 0 #e7eaef;
    --td-shadow-inset-right: inset .5px 0 0 #e7eaef;
    --td-shadow-inset-bottom: inset 0 -.5px 0 #e7eaef;
    --td-shadow-inset-left: inset -.5px 0 0 #e7eaef;
}
