name: MAIN_PULL_REQUEST

on:
  pull_request:
    branches: [main]
    types: [opened, synchronize, reopened]

jobs:
  call-test-build:
    uses: Tencent/tdesign/.github/workflows/test-build-site.yml@feat/adjust-transition-css
