name: publish-theme-generator

permissions:
  contents: read
  id-token: write

on:
  pull_request:
    branches: [main]
    types: [closed]
    paths:
      - packages/theme-generator/package.json

  workflow_dispatch:

jobs:
  publish-theme-generator:
    if: github.event_name == 'workflow_dispatch' || (github.repository == 'Tencent/tdesign' && startsWith(github.head_ref, 'release/'))
    runs-on: ubuntu-latest
    steps:
      - uses: actions/checkout@v4

      - uses: pnpm/action-setup@v4

      - uses: actions/setup-node@v4
        with:
          node-version-file: .node-version

      - run: pnpm install

      - run: pnpm -F @tdesign/theme-generator run build

      - run: npm i -g npm@latest

      - name: Publish Package
        run: pnpm -F @tdesign/theme-generator publish --no-git-checks
