:host {
  width: 100%;
  background-color: var(--bg-color-container);
  box-shadow: var(--header-box-shadow);
  position: relative;

  @media screen and (max-width: 960px) {
    --spline-visible: hidden;

    --inner-padding-y: 12px;
    --info-top: 14px;
    --title-font-size: 32px;
  }
}

.TDesign-doc-header {
  height: var(--doc-header-height);
  padding-right: var(--content-padding-right);

  &__inner {
    padding: var(--inner-padding-y, 48px) var(--content-padding-left-right);
    box-sizing: border-box;
    position: relative;
    display: flex;
    flex-direction: column;
    width: 100%;
    min-width: 320px;
    max-width: var(--content-max-width);
    margin: 0 auto;
  }

  &__thumb {
    position: absolute;
    height: calc(100% - 1px);
    width: 1200px;
    max-width: 100%;
    right: 0;
    top: 0;
    border: 0;
    z-index: 450;
    visibility: var(--spline-visible);

    &.light {
      display: var(--theme-block-light-display);
    }

    &.dark {
      display: var(--theme-block-dark-display);
    }
  }

  &__badge {
    max-width: 100%;
    display: flex;
    overflow-x: auto;

    img {
      margin-right: 8px;
    }
  }

  &__background {
    width: 100%;
    position: absolute;
    left: 0;
    bottom: 0;
    height: 88px;
    z-index: 400;
    background: var(--bg-color-container);
    box-shadow: var(--header-box-shadow);
  }

  &__content {
    display: flex;
    flex-direction: column;
    flex: 1;
    position: relative;
    z-index: 500;
  }

  &__info {
    position: relative;
    top: var(--info-top, 48px);

    >div:first-child {
      display: flex;
      align-items: center;
      gap: 16px;
    }

    &-title {
      font-size: var(--title-font-size, 48px);
      color: var(--text-primary);
      text-align: left;
      line-height: 32px;
      margin: 0;
      transition: top .2s var(--anim-time-fn-easing), opacity .2s linear, visibility .2s linear;
    }

    &-describe {
      position: relative;
      margin-top: 28px;
      font-size: 14px;
      color: var(--text-secondary);
      line-height: 22px;
      width: 100%;
      box-sizing: border-box;
      transition: all .2s linear;
    }
  }
}

#TDesign-doc-changelog__entry {
  all: unset;
  height: 24px;
  display: inline-flex;
  align-items: center;
  justify-content: center;
  gap: 4px;
  height: 24px;
  padding: 2px 8px;
  font-size: 12px;
  color: var(--brand-main);
  border: 1px solid var(--brand-main);
  border-radius: 3px;
  cursor: pointer;

  &:hover {
    color: var(--brand-main-hover);
    border: 1px solid var(--brand-main-hover);
  }

  i {
    display: flex;
  }

  span {
    min-width: 48px;
  }
}